button{
    display: block;
    background-color: blue;
    color: white;
    width: 25%;
    height: 75px;

}

.box{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-container {
    text-align: center;
}

.resultat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
